
<template>
    <div>
      <h1>BASE DE DONNÉES</h1>
      <form action="http://127.0.0.1:5000/api/songs" method="post">
        <input type="text" name="artist" id="artist" placeholder="artist">
        <input type="text" name="title" id="title" placeholder="title">
        <input type="submit" value="Envoyer">
      </form>
        <div v-for="song in songs" :key="song.id">
          <p>
              {{song[1]}} ||
              {{song[2]}}</p>
        </div>
    </div>
</template>
    
<script>
import axios from 'axios'
export default {
    mounted() {
      axios.get('api/songs', {baseURL: "http://127.0.0.1:5000"}).then ((response) => {
        this.songs = response.data
        console.log('data get')
      })
    },
    data() {
      return {
        songs: null,

      }
    }
}
</script>

<style lang="postcss" scoped>

</style>